/* global selector */
/* *{
    margin: 0;
    padding: 0;
} */
body{
    background-color: #c6dc82;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: red;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
   }
   ul{
    background-color: rgb(188, 132, 63);
    color: white;
    width: 400px;
    border-radius: 5px;
   
    /* padding-left: 20px; */
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;


   }
   li{
    margin: 10px;
    background-color: rgb(70, 99, 72);
    border-radius: 5px;
    list-style-position: inside;
    padding:10px ;
    box-shadow: 2px 2px 5px #32a93e;
   }